html * {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-family: var(--font), serif;
    color: var(--text-color);
    font-size: clamp(14px, 1vw, 18px);
}





#hero-section {
    position: relative;
    padding: var(--section-padding);
    padding-top: 0;
    margin-top: 1rem;
    margin-bottom: 22vh;
    display: flex;
    justify-content: center;
    #hero-cover {
        width: 100%;
        max-width: 90rem;
        max-height: 32rem;
        object-fit: cover;
        object-position: top;
        border-radius: 1rem;
    }

    #content-wrapper {
        > div {
            background-color: #FFFFFF;
            height: fit-content;
            padding: 1rem;
            border-radius: 1.7rem;
        }

        header {
            width: 100%;
        }

        .page-title {
            font-size: 0.75rem;
            font-weight: 700;
            color: #333333;
            margin-bottom: 1.5rem;
        }

        /*Texto maior*/
        .page-subtitle {
            font-size: 2rem;
            color: #333333;
            line-height: 45px;
            font-weight: 700;
            margin-bottom: 2rem;

        }

        .section-content {
            width: 100%;
            .description {
                margin-bottom: 2rem;
                text-wrap: wrap;
            }
            .primary-button {
                display: inline-block;
            }
        }
    }

    @media (max-width: calc(50rem - 1px)) {
        flex-direction: column;
        margin-bottom: 1rem;
        #content-wrapper > div {
            transform: translateY(-10%);
        }
    }

    @media (min-width: 50rem) {
        /*Parte branca do hero, com textos e botoes*/
        #content-wrapper {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            padding-left: clamp(1rem, 20vw, 40rem);
            > div {
                background-color: #FFFFFF;
                height: fit-content;
                padding: 2rem;
                border-radius: 1.7rem;
                max-width: 57.5rem;
                transform: translateY(100%);

            }
        }
    }
}

#mais-relevantes, .section {
    padding: var(--section-padding);
    padding-bottom: 2rem;
    padding-top: 0;

    .section-title {
        font-size: 3rem;
        font-size: clamp(1.5rem, 2vw, 3rem);
        color: #212529;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }
}

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;


    article {
        .post-image-wrapper {
            width: 100%;
            height: 22.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .post-infos-wrapper {
            margin-top: 2.5rem;
            margin-bottom: 1rem;
            font-size: 0.75rem;
            display: flex;
            justify-content: flex-start;
            > span:first-child {
                color: #212529;
                font-weight: 700;
            }
            > span:last-child {
                padding-left: 0.5rem;
                color: #ADB5BD;
                font-weight: 500;
            }
        }
        .post-titulo {
            font-size: 1.5rem;
            text-transform: capitalize;
            color: #212529;
            margin-bottom: 0.5rem;
        }
        p {
            color: #495057;
            font-size: 1rem;

        }
        a {
            padding-top: 2rem;
            text-decoration: underline var(--c-primary-main);
            color: var(--c-primary-main);
            text-underline: 1px solid var(--c-primary-main);
        }
    }
}


.skeleton {
    background-color: #9a9a9a;
}